venv
__pycache__
.vscode
.idea/
logs/
*.blend1
planet_imgs/
icons/
dataset/
mnt/
wandb/
*profile*
wandb_key
docker_pat
*.csv
*.lprof
.venv/
eval/
profiling/
build/
dist/
results/
evaluation/
samples/
app/app/images/
inference_steps/
derivation_sketch/
util_scripts/
random_stuff/
profiling_cache.json